.card-container {
    margin: 16px;
    max-width: 60%;
    padding-bottom: 30px;
}
mat-card {
    padding: 10px;
}

.example-header-image {
    background-size: cover;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/36/Hopetoun_falls.jpg');
}

mat-card-content {
    margin-top: 10px;
}
mat-card-footer {
    margin-left: 20px;
}
.img {
    object-fit: cover;
}

.comment-card {
    margin-top: 20px;
}
mat-form-field {
    width: 100%;
}